<html>
  <head>
    <title>RSSReader</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel ="stylesheet"/>
    {% block style %} {% endblock %}
    <style>
      body{
        padding-top:50px;
      }
   </style> 
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
          <span class="sr-only">Toggle Navagation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('root')}}">RSSReader</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li {% if request.path=="/" %}class="active"{% endif %}>
            <a href="{{ url_for('root')}} ">Home</a>
          </li>
          <li>
            <a href="{{ url_for('feed')}}">Feed</a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#login">Log In</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container">
     {% block content %} {% endblock %}
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    {% block scripts %} {% endblock %}
    
  </body>
</html>

